<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if( locals.id ) { %>
        <p>Generated URL is -> </p><a href="/id/<%= id %>" target="_blank"><%= id %></a>
    <% } %>
    <form method="post" action="/url">
    <input type="text" name="url" placeholder="http://example.com">
    <button type="submit">Generate</button>
    </form>
    <div>
    <% if(locals.urls){ %>
        <table>
            <thead>
                <tr>
                    <th>S no.</th>
                    <th>Short URL</th>
                    <th>Redirect URL</th>
                    <th>Clicks</th>
                    <% if(locals.role && role == "ADMIN") { %>
                        <th>Created By</th>
                        <% } %>
                </tr>
            </thead>
            <tbody>
                <% let length = 1; %>
                <% urls.forEach(url => { %>
                <tr>
                    <td style="padding: 5px;"><%= length++ %></td>
                    <td style="padding: 5px;"><a href="/id/<%= url.shortId %>" target="_blank"><%= url.shortId %></a></td>
                    <td style="padding: 5px;"><%= url.redirectUrl %></td>
                    <td style="padding: 5px;"><%= url.visitHistory.length %></td>
                    <% if(locals.role && role == "ADMIN") { %>
                        <td style="padding: 5px;"><%= url.createdBy?.name %></td>
                        <% } %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
    </div>
</body>
</html>